@import "tailwindcss";


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* typing animation */
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #2563eb; /* blue-600 */
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #2563eb; /* blue-600 */
  }
  28% {
    transform: translateY(-7px);
    background-color: #3b82f6; /* blue-500 */
  }
  44% {
    transform: translateY(0px);
    background-color: #60a5fa; /* blue-400 */
  }
  100% {
    transform: translateY(0px);
    background-color: #2563eb; /* blue-600 */
  }
}
